@charset "utf-8";

.paper {
  line-height: 1.5em;
  font-size: 10pt;
}

@media screen {
  /* Reduce screen contrast */
  body, textarea {
    background: #fffff5;
    color: #333;
  }

  .paper {
    margin-left: 6em;
    margin-right: 6em;
    max-width: 60em;
  }
}

@media screen and (max-width: 60em) {
  .paper {
    margin-left: 0;
    margin-right: 0;
  }
}


/*** Front Matter ***/
.paper header {
  border-bottom: 2px solid black;
  break-after: page;
}

#logo {
  width: 100%;
  margin-bottom: 2em;
}

#logo hr {
  background: #888;
  height: 2px;
  border: 0;
}

.paper header ul {
  margin: 0.1em;
  padding-left: 1em;
}

.paper header mark {
  background: none;
  font-weight: bold;
}

.paper header hr {
  border-style: none;
  width: 100%;
  height: 0.3em;
  background: black;
}

.paper header form {
  display: block;
  border: 1px solid gray;
  overflow: hidden;
  border-top-left-radius: 2em;
  border-bottom-right-radius: 2em;
  padding: 1em;
  margin-bottom: 7em;
}

.paper header label {
  float: left;
  width: 25%;
  clear: both;
  margin: 1em;
}

.paper header input {
  float: left;
  width: 65%;
  margin: 1em;
  outline: 0;
  border: 0;
  border-bottom: 1px solid black;
  background: none;
}


/*** Questions ***/
.paper section {
  display: block;
  position: relative;
  margin-left: 3.0em;
  margin-bottom: 1.1em;
}

.paper p::first-child {
  margin-top: 0;
}

.paper div.blankbox {
  border: 2px solid black;
  margin-top: 1em;
}

/*** Headings ***
 *
 * These are slightly smaller so that they have correct semantic meaning
 * (level-1, level-2, level-3) in the questions, but without being as large as
 * the front matter's headings.
 */
.paper main h1 {
  font-size: 1.35em;
}

.paper main h2 {
  font-size: 1.23em;
}

.paper main h3 {
  font-size: 1.17em;
}

.paper main mark {
  background: none;
  font-weight: bold;
  width: 100%;
  text-align: right;
  display: block;
}

.paper main mark::before {
  content: '[';
}

.paper main mark::after {
  content: ']';
}

.paper main textarea {
  display: block;
  width: 100%;
  clear: both;
  resize: none;
  font-family: sans-serif;
  font-size: 100%;
  border: none;
  margin-top: 1em;
  outline: none;
  overflow: hidden;
  box-shadow: none;
  line-break: anywhere;
  line-height: 1cm;
}

.paper main details {
  padding: 1em;
}

.paper main details[open] {
  border: 2px solid gray;
  border-radius: 1em;
}

.paper main details summary {
  color: #aaa;
}

.paper main hr {
  break-after: page;
  border-style: none;
  width: 50vw;
}

@media screen {
  .paper main hr {
    border-top: 4px dotted gray;
  }
}

/* Code Listings */
.paper pre {
  position: relative;
}

.paper code {
  font-size: 115%;
  line-height: 1.54em;
  position: relative;
}

.paper code[block] {
  left: 4em;
  white-space: pre;
  margin: 1em;
  margin-top: 2.0em;
  margin-bottom: 2.0em;
  display: block;
}

.paper .line-numbers {
  background: #777;
  color: #eee;
  padding-left: 0.3em;
  padding-right: 0.3em;
  border-radius: 3px;
  display: block;
  float: left;
  position: absolute;
  top: 0;
  left: -2.8em;
}


/*** Linting ***/

.error {
  position: absolute;
  right: 0;
  bottom: 0;
  border: 3px solid red;
  border-radius: 5px;
  padding: 0.4em;
  background: red;
  color: white;
}

.error div {
  display: none;
}

.error:hover div {
  display: block;
}


/*** Checkbox lists ***/

.paper main ol[type='checkbox'] {
  counter-reset: item;
}

.paper main ol[type='checkbox'] li {
  list-style-type: none;
  margin-bottom: 0.4em;
}

.paper main ol[type='checkbox'] input[type='checkbox'] {
  transform: scale(1.2);
}

.paper main ol[type='checkbox'] label:before {
  display: inline-block;
  font-weight: bold;
  margin-right: 2em;
  margin-left: 1em;
  counter-increment: item;
  content: counter(item, upper-alpha);
}


/*** Table Styling **/
.paper table.fill-in {
  max-width: 90%;
  min-width: 75%;
  margin: 1em 5% 1em 5%;
  border-collapse: collapse;
}

.paper table.fill-in thead {
  background: #ccc;
}

.paper table.fill-in th,
.paper table.fill-in td
{
  padding: 1.4em 1.0em 1.4em 1.0em;
  border: 2px solid grey;
  font-size: 110%;
  min-width: 0.4em;
}

/* The first column is outside the grid lines */
.paper table.fill-in.th-outside th {
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
  text-align: right;
}


/*** Question Numbering ***/

/* Counters **/
.paper {
  counter-reset: question_number;
}

.paper main > section {
  counter-increment: question_number;
  counter-reset: question_part_major;
}

.paper main > section > section {
  counter-increment: question_part_major;
  counter-reset: question_part_minor;
}

.paper main > section > section > section {
  counter-increment: question_part_minor;
}

/* Labelling */
.paper main section > label {
  position: absolute;
  float: left;
  clear: both;
  left: -3.0em;
  width: 4em;
  font-weight: bold;
}

.paper section > label::before {
  content: counter(question_number);
}

.paper section section > label::before {
  content: '(' counter(question_part_major, lower-alpha) ')';
}

.paper section section section > label::before {
  content: '(' counter(question_part_minor, lower-roman) ')';
}


/*** Printing ***/
@media print {
  .paper {
    margin-left: 2em;
    margin-right: 3em;
  }

  .paper section {
    break-before: page;
    min-height: 1px; /* See [FFBREAK] */
  }

  .paper section section {
    break-before: auto;
    min-height: 1px; /* See [FFBREAK] */
  }

  .paper section section section {
    break-before: auto;
    min-height: 1px; /* See [FFBREAK] */
  }

  .breaker {
    break-before: page;
    min-height: 1px; /* See [FFBREAK] */
  }

  /* [FFBREAK] The 1px height fixes a bug in Firefox print.  Without this
   * min-height the labels at the start of a new top-level section disappear
   * when printing.
   */

  .question-part {
    break-inside: avoid;
  }

  .paper header hr {
    border: 3px solid black;
    height: 0px;
  }

  .paper hr {
    border: none;
  }

  details {
    display: none;
  }

  details[open] {
    display: block;
  }
}


/*** Fonts ***/

.paper {
  font-family: 'IBM Plex', sans-serif;
}

.paper code {
  font-family: 'Roboto Mono', monospace;
  font-variant-numeric: slashed-zero;
}

/* Definitions */

@font-face {
  font-family: 'IBM Plex';
  font-style: normal;
  font-weight: 400;
  src: url('https://ωωω.χαίρετε.ελ/fonts/IBMPlexSans-Regular.woff2');
}

@font-face {
  font-family: 'IBM Plex';
  font-style: italic;
  src: url('https://ωωω.χαίρετε.ελ/fonts/IBMPlexSans-Italic.woff2');
}

@font-face {
  font-family: 'IBM Plex';
  font-style: normal;
  font-weight: 700;
  src: url('https://ωωω.χαίρετε.ελ/fonts/IBMPlexSans-Bold.woff2');
}

@font-face {
  font-family: 'IBM Plex';
  font-style: italic;
  font-weight: 700;
  src: url('https://ωωω.χαίρετε.ελ/fonts/IBMPlexSans-BoldItalic.woff2');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url('https://ωωω.χαίρετε.ελ/fonts/Roboto Mono 400.woff2');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  src: url('https://ωωω.χαίρετε.ελ/fonts/Roboto Mono 700.woff2');
}
